.users {
    width: 100%;
    height: 100%;
    background-color: whitesmoke;
}
.users_dark {
    background-color: #2d3436;
    color: aliceblue;
}
.users_light {
    background-color: whitesmoke; 
}